/*------------------------------------------------*/
/*-------------------[LAYOUT/FONTS]----------------------*/
/*------------------------------------------------*/
html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  background: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: $maroon;
	font-family: $didact-gothic;
  margin-bottom: 0;
}

h1 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {  
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3 { 
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

body {
	color: #000;
	font-family: $open-sans;
}

a {
  color: $maroon;
  text-decoration: underline;
}

/*------------------------------------------------*/
/*-------------------[BUTTONS]--------------------*/
/*------------------------------------------------*/

.btn {
  font-family: $open-sans;
  padding: .5rem !important;
  white-space: normal;
  border-radius: 0;
  transition: all .5s;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
}

.white-button {
  background-color: #fff;
  color: #000;
  border: solid 1px #000;
  &:hover {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #fff !important;
  }
}

.black-button {
  background-color: #000;
  color: #fff;
  border: solid 1px #fff;
  &:hover {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #000 !important;
  }
}
/*------------------------------------------------*/
/*--------------------[REUSEABLE STYLES]----------------------*/
/*------------------------------------------------*/
#scroll_totop {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 36px;
  height: 36px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  border-radius: 18px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  transition: box-shadow .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  @media only screen and (min-width: 40.0625em) {
    right: 30px;
    bottom: 30px;
  }
  &:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    svg {
      .thb-arrow-head {
        transform: translateX(0px);
      }
      .thb-arrow-line {
        transform: translateX(0px) scale(1, 1);
      }
    }
  }
  svg {
    transform: rotate(90deg);
    .thb-arrow-head, .thb-arrow-line {
      transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .thb-arrow-head {
      transform: translateX(5px);
    }
    .thb-arrow-line {
      transform: translateX(5px) scale(0, 1);
    }
  }
}

/*------------------------------------------------*/
/*--------------------[HOME]----------------------*/
/*------------------------------------------------*/
#homepage {
  #hero {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #welcome {
    background-color: $maroon;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.25rem;
  }
  #eventsHeader {
    padding-top: 35px;
    padding-bottom: 35px;
    .header {
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
  #webinars {
    background-color: #fff;
    .webinar {
      margin-bottom: 35px;
      .inner-container {
        border: 4px solid $maroon;
        padding: 25px;
        height: 100%;
        .date-time {
          color: #000;
        }
        .title {
          font-weight: bold;
          color: #000;
        }
        .presenter-headshots {
          display: flex;
          .headshot-small {
            img {
              border-radius: 50%;
              margin-right: 15px;
            }
            &:last-of-type {
              img {
                margin-right: 0;
              }
            }
          }
        }
        p {
          font-size: .8rem;
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
  #presentersHeader {
    padding-top: 35px;
    padding-bottom: 35px;
    .header {
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
  #presenters {
    .date {
      color: #000;
    }
    .presenter-wrapper {
      position: relative;
      border: 4px solid $maroon;
      padding: 30px;
      z-index: 0;
      display: flex;
      flex-direction: column;
      transition: all .5s;
      .toggle {
        position: absolute;
        top: 4px;
        right: 8px;
        z-index: 1;
        i{
          color: $maroon;
          font-size: 24px;
          cursor: pointer;
          transition: color .5s;
        }
        .fa-minus-circle {
          display: none;
        }
      }
      .left {
        flex: 0 0 50%;
        @include media-breakpoint-down(md) {
          flex-basis: 65%;
        }
        @include media-breakpoint-down(sm) {
          flex-basis: 75%;
        }
        .name {
          font-weight: bold;
          color: $maroon;
        }
        .title {
          color: #000;
        }
        .company {
          color: #000;
          font-style: italic;
        }
      }
      .right {
        flex: 0 0 47.5%;
        margin-left: 2.5%;
        text-align: right;
        @include media-breakpoint-down(md) {
          flex-basis: 32.5%;
        }
        @include media-breakpoint-down(sm) {
          flex-basis: 22.5%;
        }
      }
      .presenter-child {
        display: none;
        .inner-wrapper {
          display: flex;
          justify-content: flex-start;
          margin-top: 25px;
          @include media-breakpoint-down(lg) {
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
          .left {
            flex-basis: 150px;
            margin-right: 25px;
            @include media-breakpoint-down(lg) {
              maring-left: 0;
              margin-bottom: 25px;
            }
          }
          .right {
            flex-grow: 2;
            text-align: left;
            margin-left: 0;
            @include media-breakpoint-down(lg) {
              text-align: center;
            }
          }
        }
      }
      &.active {
        .toggle {
          .fa-plus-circle {
            display: none;
          }
          .fa-minus-circle {
            display: block;
          }
        }
        .presenter-child {
          display: flex !important;
        }
      }
    }
  }
}